{% extends "jobs/base.html" %}

{% load bootstrap4 %}
{% block title %} {{ page_title }} {%endblock title%}
{% block content %}
<div class="jumbotron jumbotron-fluid" style="width:50%; margin:0 auto; text-align:center">
  <h2>Contract</h2>
</div>

<form action="" method="post">
  <div class="row">
    <div class="col-sm-10 px-2 py-5" style="text-align:center;">
      {% csrf_token %}
      {% bootstrap_form form %}
      <button type="submit" class="btn btn-primary" style="text-align:center">Submit</button>
    </div>
  </div>
</form>
{% endblock content %}
