
{% extends "jobs/base.html" %}

{% load bootstrap4 %}
{% block title %} {{ page_title }} {%endblock title%}

{% block content %}

<!-- <div class="jumbotron" style="width:100%;">
  <h2>Search</h2>
</div> -->

<div class="jumbotron jumbotron-fluid" style="width:50%; margin:0 auto; text-align:center">
  <h2>Contract Work - Find your next contract here</h2>
</div>

<div class="jumbotron jumbotron-fluid" style="width:50%; margin:0 auto; text-align:center; margin-top:3%;">
  <h2>Search for your specific contract, whether that's a python, swift or java contract</h2>
</div>


<div class="jumbotron jumbotron-fluid" style="width:50%; margin:0 auto; text-align:center; margin-top:3%;">
<h2>Common Searches</h2>
</div>

<div class="jumbotron jumbotron-fluid" style="width:50%; margin:0 auto; text-align:center; margin-top:3%;">
<h2>Most Recently Added</h2>
</div>


{% endblock content %}
