
{% extends "jobs/base.html" %}

{% load bootstrap4 %}
{% block title %} {{ page_title }} {%endblock title%}

{% block content %}


<div class="position-relative overflow-hidden p-3 m-md-3 text-center bg-light">
  <div class="col-md-5 p-lg-5 mx-auto my-5">
    <h1 class="display-4 font-weight-normal">WorkIO</h1>
    <p class="lead font-weight-normal">Fed up of searching 10 different sites to find contract work? Using contract.io you can find the right contract for you, easily and quickly.
      Search, Apply and hopefully be accepted!</p>
    <form>
      <div class="input-group mb-3">
        <input type="text" name="frontsearch" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="basic-addon1" style="text-align:center">
        <button type="submit" class="btn btn-primary" style="text-align:center">Submit</button>
      </div>
    </form>
  </div>
</div>

<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
  <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
    <div class="my-3 py-3">
      <h2 class="display-5">Common Searches</h2>
    </div>
    <div class="bg-light shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
  </div>
  <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
    <div class="my-3 p-3">
      <h2 class="display-5">Recently Added</h2>
    </div>
    <div class="bg-dark shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
  </div>
</div>

{% endblock content %}
